@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.page-content{
display: flex;




}
.head {
  background-color: #363435;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

.vtb {

  color: aliceblue;
  background-color: #363435;
  margin-left: 13%;
  font-family: "Quicksand";
  height: 100%;
  width: 15%;
  font-size: 30px;
}

body {
  height: 100%;
  width: 100%;

}

.mainMenu {

  margin-left: 2%;
  width: 5%;

}

.vtb:hover {
  background-color: #292828;
}

.plc {
  color: aliceblue;
  background-color: #363435;
  font-family: "Quicksand";
  height: 100%;
  width: 40%;
  font-size: 30px;
}

.plc:hover {
  background-color: #292828;

}



.brs {

  color: aliceblue;
  background-color: #363435;
  font-family: "Quicksand";
  height: 100%;
  width: 17%;
  font-size: 30px;
}

.brs:hover {
  background-color: #292828;



}

.history {
  margin-top: 20%;

}

.attractions {
  margin-top: 20%;
}

.personalities {
  margin-top: 20%;

}

.cities {
  font-size: 40px;
  
  width: 20%;
  ;
  text-align: center;

  background-color: salmon;

}

.cities:hover {
  background-image: black;


}

.info {
  font-size: 20px;
  padding: 2%;
  background-color: #9AD3BC;
 display:block;
 justify-content: center;
  width: 80%;
  text-align: center;


}