@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");

:root {
  --header-height-lg: 80px;
  --nav-width-lg: 200px;
  --head-bgc: #363435;
  --aside-bgc: #04AA6D;
}

body {
  font-family: "Noto Sans", sans-serif;
}

header {
  background-color: var(--head-bgc);
  height: var(--header-height-lg);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 60px;
  height: 60px;
  margin-left: 40px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

nav a {
  color: white;
  font-size: 26px;
  &:hover {
    text-decoration: underline;
  }
}

main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-height: calc(100vh - var(--header-height-lg));
}

aside {
  background-color: var(--aside-bgc);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

aside a {
  color: white;
  font-size: 24px;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 36px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

article {
  padding: 20px;
  width: 100%;
}

p {
  margin-bottom: 10px;
  font-size: 20px;
}


.homepage {
  width: 100%;
}